/* -------------------------------------*/
/*      CSS FOR ALL HTML FILES         */
/* -------------------------------------*/


/* variables of classNames*/
.bbh-bartle-regular {
  font-family: "BBH Bartle", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.circle{
  border-radius: 50%;
}

/* nav styele */

#nav-logo{
  width: 5vw;
}

#nav-watermark{
  font-size:1vw;
}
